[package]
name = "ureq"
version = "1.5.1"
authors = ["Martin Algesten <martin@algesten.se>", "Jacob Hoffman-Andrews <ureq@hoffman-andrews.com>"]
description = "Minimal HTTP request library"
license = "MIT/Apache-2.0"
repository = "https://github.com/algesten/ureq"
readme = "README.md"
keywords = ["web", "request", "http", "rest", "client"]
categories = ["web-programming::http-client"]
edition = "2018"

[package.metadata.docs.rs]
# Keep in sync with .github/workflows/test.yml
features = [ "tls", "json", "charset", "cookies", "socks-proxy" ]

[features]
default = ["tls", "cookies"]
json = ["serde", "serde_json"]
charset = ["encoding"]
tls = ["rustls", "webpki", "webpki-roots"]
native-certs = ["rustls-native-certs"]
cookies = ["cookie", "cookie_store"]
socks-proxy = ["socks"]

[dependencies]
base64 = "0.13"
chunked_transfer = "1.2.0"
cookie = { version = "0.14", features = ["percent-encode"], optional = true}
once_cell = "1"
qstring = "0.7"
url = "2"
socks = { version = "0.3.2", optional = true }
rustls = { version = "0.18", optional = true, features = [] }
webpki = { version = "0.21", optional = true }
webpki-roots = { version = "0.20", optional = true }
rustls-native-certs = { version = "0.4", optional = true }
serde = { version = "1", optional = true }
serde_json = { version = "1", optional = true }
encoding = { version = "0.2", optional = true }
native-tls = { version = "0.2", optional = true }
cookie_store = { version = "0.12.0", optional = true }
log = "0.4.11"

[dev-dependencies]
serde = { version = "1", features = ["derive"] }
env_logger = "0.7.1"

[[example]]
name = "smoke-test"
