[package]
name = "ureq"
version = "2.2.0"
authors = ["Martin Algesten <martin@algesten.se>", "Jacob Hoffman-Andrews <ureq@hoffman-andrews.com>"]
description = "Simple, safe HTTP client"
license = "MIT/Apache-2.0"
repository = "https://github.com/algesten/ureq"
readme = "README.md"
keywords = ["web", "request", "https", "http", "client"]
categories = ["web-programming::http-client"]
edition = "2018"

[package.metadata.docs.rs]
# Keep in sync with .github/workflows/test.yml
features = [ "tls", "json", "charset", "cookies", "socks-proxy" ]

[features]
default = ["tls"]
json = ["serde", "serde_json"]
charset = ["encoding_rs"]
tls = ["rustls", "webpki", "webpki-roots"]
native-certs = ["rustls-native-certs"]
cookies = ["cookie", "cookie_store"]
socks-proxy = ["socks"]

[dependencies]
base64 = "0.13"
chunked_transfer = "1.2"
cookie = { version = "0.15", default-features = false, optional = true}
once_cell = "1"
url = "2"
socks = { version = "0.3", optional = true }
rustls = { version = "0.19", optional = true }
webpki = { version = "0.21", optional = true }
webpki-roots = { version = "0.21", optional = true }
rustls-native-certs = { version = "0.5", optional = true }
serde = { version = "1", optional = true }
serde_json = { version = "1", optional = true }
encoding_rs = { version = "0.8", optional = true }
cookie_store = { version = "0.15", optional = true, default-features = false, features = ["preserve_order"] }
log = "0.4.11"
native-tls = { version = "0.2.7", optional = true }

[dev-dependencies]
serde = { version = "1", features = ["derive"] }
env_logger = "0.9"
rustls = { version = "0.19", features = ["dangerous_configuration"] }

[[example]]
name = "smoke-test"

[[example]]
name = "cureq"
required-features = ["charset", "cookies", "socks-proxy"]
