on: [push, pull_request]

name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install Rust
      id: toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy
    - name: Run Rustfmt
      run: cargo +${{steps.toolchain.outputs.name}} fmt --check
    - name: Run Clippy
      run: cargo +${{steps.toolchain.outputs.name}} clippy --all-features
  doc:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install Rust
        id: toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Docs
        env:
          RUSTDOCFLAGS: -Dwarnings
        run: cargo +${{steps.toolchain.outputs.name}} doc --no-deps --all-features --document-private-items

  snowflake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Martin's snowflake formatting rules
        uses: algesten/snowflake@v1.1.0
        with:
          check_diff: true
          line_width_rules: 'Cargo.toml:150;README.md:150;lib.rs:150'

  build_versions:
    strategy:
      matrix:
        rust: [stable, beta, 1.71.1]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@master
        id: toolchain
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v2
      - name: Build 1
        run: cargo +${{steps.toolchain.outputs.name}} build --all-features
      - name: Build 2
        run: cargo +${{steps.toolchain.outputs.name}} build --all-features

  build_and_test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feature:
          - ""
          - charset
          - cookies
          - socks-proxy
          - gzip
          - brotli
          - json
          - multipart
          - native-tls
    env:
      RUST_BACKTRACE: "1"
      RUSTFLAGS: "-D dead_code -D unused-variables -D unused"
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install Rust
        id: toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Test
        run: |
          cargo +${{steps.toolchain.outputs.name}} test \
          --no-default-features --features "_test rustls ${{ matrix.feature }}"

  build_without_rustls:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feature:
          - ""
          - charset
          - cookies
          - socks-proxy
          - gzip
          - brotli
          - json
          - multipart
          - native-tls
          - rustls-no-provider
    env:
      RUST_BACKTRACE: "1"
      RUSTFLAGS: "-D dead_code -D unused-variables -D unused"
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install Rust
        id: toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Test
        run: |
          cargo +${{steps.toolchain.outputs.name}} test \
          --no-default-features --features "_test ${{ matrix.feature }}"

  cargo-deny:
    name: cargo-deny

    # TODO: remove this matrix when https://github.com/EmbarkStudios/cargo-deny/issues/324 is resolved
    strategy:
      fail-fast: false
      matrix:
        platform:
          - aarch64-apple-ios
          - aarch64-linux-android
          - i686-pc-windows-gnu
          - i686-pc-windows-msvc
          - i686-unknown-linux-gnu
          - wasm32-unknown-unknown
          - x86_64-apple-darwin
          - x86_64-apple-ios
          - x86_64-pc-windows-gnu
          - x86_64-pc-windows-msvc
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-redox

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - uses: EmbarkStudios/cargo-deny-action@v2
      with:
        command: check
        log-level: error
        arguments: --all-features --target ${{ matrix.platform }}
